<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redtourism.mapper.AdminMapper">

    <insert id="insert" parameterType="Admin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <delete id="deleteById">
        DELETE FROM admin WHERE id = #{id}
    </delete>

    <update id="update" parameterType="Admin">
        UPDATE admin SET
                         username = #{username},
                         password = #{password}
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="Admin">
        SELECT * FROM admin WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultType="Admin">
        SELECT * FROM admin WHERE username = #{username}
    </select>

    <update id="updatePassword">
        UPDATE admin SET password = #{password} WHERE id = #{id}
    </update>
    <delete id="batchDelete">
        DELETE FROM user WHERE id IN
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>