<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redtourism.mapper.UserMapper">
    <!--    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">-->
    <!--        INSERT INTO user (username, password, nickname)-->
    <!--        VALUES (#{username}, #{password}, #{nickname})-->
    <!--    </insert>-->
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (email,password,nickname,avatar,gender,birthday,phone,address,signature,status
        ) VALUES (#{email},#{password},#{nickname},#{avatar},#{gender},#{birthday},#{phone},#{address},#{signature},#{status})
    </insert>

    <select id="selectById" resultType="User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="selectByEmail" resultType="User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <update id="update" parameterType="User">
        UPDATE user SET
                        nickname = #{nickname},
                        password = #{password}
        WHERE id = #{id}
    </update>
    <update id="updateUser" parameterType="com.redtourism.entity.User">
        UPDATE user
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="signature != null">
                signature = #{signature},
            </if>
        </set>

        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <select id="getAllUsers" resultType="User">
        SELECT * FROM user
    </select>


    <!-- 新增查询用户详情 -->
    <select id="getUserDetail" resultType="User">
        SELECT * FROM user WHERE id = #{userId}
    </select>

    <!-- 修改密码 4.11-->
    <update id="changePassword">
        UPDATE user SET password = #{newPassword}
        WHERE id = #{userId}
          AND password = (
            SELECT password
            FROM user
            WHERE id = #{userId}
    </update>

    <!-- 更新头像 -->
    <update id="updateAvatar">
        UPDATE user SET avatar = #{avatar} WHERE id = #{userId}
    </update>

    <update id="updateById" parameterType="com.redtourism.entity.User">
        UPDATE user SET
                        email = #{user.email},
                        password = #{user.password},
                        nickname = #{user.nickname},
                        avatar = #{user.avatar},
                        gender = #{user.gender},
                        birthday = #{user.birthday},
                        phone = #{user.phone},
                        address = #{user.address},
                        signature = #{user.signature},
                        status = #{user.status},
                        sms_code = #{user.smsCode},
                        sms_code_time = #{user.smsCodeTime}
        WHERE id = #{user.id}
    </update>

    <!-- 搜索用户 -->
    <select id="searchUsers" resultType="User">
        SELECT * FROM user
        <where>
            <if test="keyword != null and keyword != ''">
                AND (email LIKE CONCAT('%', #{keyword}, '%')
                OR nickname LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <update id="updateStatus" >
        UPDATE user
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <update id="updateSmsCode">
        UPDATE user
        SET sms_code = #{smsCode},
            sms_code_time = #{smsCodeTime}
        WHERE email = #{email}
    </update>

    <select id="selectByPhone" resultType="User">
        SELECT * FROM user WHERE phone = #{phone}
    </select>

    <!--    <update id="updatePassword">-->
    <!--        UPDATE use1r SET-->
    <!--                        nickname = #{nickname},-->
    <!--                        password = #{password}-->
    <!--        WHERE id = #{id}-->
    <!--    </update>-->
    <update id="updatePassword">
        UPDATE user SET password = #{newPassword}
        WHERE id = #{userId}
    </update>
</mapper>
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.redtourism.mapper.UserMapper">-->
<!--&lt;!&ndash;    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">&ndash;&gt;-->
<!--&lt;!&ndash;        INSERT INTO user (username, password, nickname)&ndash;&gt;-->
<!--&lt;!&ndash;        VALUES (#{username}, #{password}, #{nickname})&ndash;&gt;-->
<!--&lt;!&ndash;    </insert>&ndash;&gt;-->
<!--    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">-->
<!--        INSERT INTO user (username,password,nickname,avatar,gender,birthday,phone,address,signature,status-->
<!--        ) VALUES (#{username},#{password},#{nickname},#{avatar},#{gender},#{birthday},#{phone},#{address},#{signature},#{status})-->
<!--    </insert>-->

<!--    <select id="selectById" resultType="User">-->
<!--        SELECT * FROM user WHERE id = #{id}-->
<!--    </select>-->

<!--    <select id="selectByUsername" resultType="User">-->
<!--        SELECT * FROM user WHERE username = #{username}-->
<!--    </select>-->

<!--    <update id="update" parameterType="User">-->
<!--        UPDATE user SET-->
<!--                        nickname = #{nickname},-->
<!--                        password = #{password}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->
<!--    <update id="updateUser" parameterType="com.redtourism.entity.User">-->
<!--        UPDATE user-->
<!--        <set>-->
<!--            <if test="nickname != null">-->
<!--                nickname = #{nickname},-->
<!--            </if>-->
<!--            <if test="gender != null">-->
<!--                gender = #{gender},-->
<!--            </if>-->
<!--            <if test="birthday != null">-->
<!--                birthday = #{birthday},-->
<!--            </if>-->
<!--            <if test="phone != null">-->
<!--                phone = #{phone},-->
<!--            </if>-->
<!--            <if test="address != null">-->
<!--                address = #{address},-->
<!--            </if>-->
<!--            <if test="password != null and password != ''">-->
<!--                password = #{password},-->
<!--            </if>-->
<!--            <if test="username != null and username != ''">-->
<!--                username = #{username},-->
<!--            </if>-->
<!--            <if test="signature != null">-->
<!--                signature = #{signature},-->
<!--            </if>-->
<!--        </set>-->

<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    <delete id="delete">-->
<!--        DELETE FROM user WHERE id = #{id}-->
<!--    </delete>-->

<!--    <select id="getAllUsers" resultType="User">-->
<!--        SELECT * FROM user-->
<!--    </select>-->


<!--    &lt;!&ndash; 新增查询用户详情 &ndash;&gt;-->
<!--    <select id="getUserDetail" resultType="User">-->
<!--        SELECT * FROM user WHERE id = #{userId}-->
<!--    </select>-->

<!--    &lt;!&ndash; 修改密码 4.11&ndash;&gt;-->
<!--    <update id="changePassword">-->
<!--        UPDATE user SET password = #{newPassword}-->
<!--        WHERE id = #{userId}-->
<!--          AND password = (-->
<!--            SELECT password-->
<!--            FROM user-->
<!--            WHERE id = #{userId}-->
<!--    </update>-->

<!--    &lt;!&ndash; 更新头像 &ndash;&gt;-->
<!--    <update id="updateAvatar">-->
<!--        UPDATE user SET avatar = #{avatar} WHERE id = #{userId}-->
<!--    </update>-->

<!--    <update id="updateById" parameterType="com.redtourism.entity.User">-->
<!--        UPDATE user SET-->
<!--                        username = #{user.username},-->
<!--                        password = #{user.password},-->
<!--                        nickname = #{user.nickname},-->
<!--                        avatar = #{user.avatar},-->
<!--                        gender = #{user.gender},-->
<!--                        birthday = #{user.birthday},-->
<!--                        phone = #{user.phone},-->
<!--                        address = #{user.address},-->
<!--                        signature = #{user.signature},-->
<!--                        status = #{user.status},-->
<!--                        sms_code = #{user.smsCode},-->
<!--                        sms_code_time = #{user.smsCodeTime}-->
<!--        WHERE id = #{user.id}-->
<!--    </update>-->

<!--    &lt;!&ndash; 搜索用户 &ndash;&gt;-->
<!--    <select id="searchUsers" resultType="User">-->
<!--        SELECT * FROM user-->
<!--        <where>-->
<!--            <if test="keyword != null and keyword != ''">-->
<!--                AND (username LIKE CONCAT('%', #{keyword}, '%')-->
<!--                OR nickname LIKE CONCAT('%', #{keyword}, '%'))-->
<!--            </if>-->
<!--        </where>-->
<!--        LIMIT #{size} OFFSET #{offset}-->
<!--    </select>-->

<!--    <update id="updateStatus" >-->
<!--        UPDATE user-->
<!--        SET status = #{status}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->
<!--    <update id="updateSmsCode">-->
<!--        UPDATE user SET-->
<!--                        sms_code = #{smsCode},-->
<!--                        sms_code_time = NOW()-->
<!--        WHERE phone = #{phone}-->
<!--    </update>-->

<!--    <select id="selectByPhone" resultType="User">-->
<!--        SELECT * FROM user WHERE phone = #{phone}-->
<!--    </select>-->

<!--&lt;!&ndash;    <update id="updatePassword">&ndash;&gt;-->
<!--&lt;!&ndash;        UPDATE user SET&ndash;&gt;-->
<!--&lt;!&ndash;                        nickname = #{nickname},&ndash;&gt;-->
<!--&lt;!&ndash;                        password = #{password}&ndash;&gt;-->
<!--&lt;!&ndash;        WHERE id = #{id}&ndash;&gt;-->
<!--&lt;!&ndash;    </update>&ndash;&gt;-->
<!--    <update id="updatePassword">-->
<!--        UPDATE user SET password = #{newPassword}-->
<!--        WHERE id = #{userId}-->
<!--    </update>-->
<!--</mapper>-->